@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?y4tomv');
  src:  url('../fonts/icomoon.eot?y4tomv#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?y4tomv') format('truetype'),
  url('../fonts/icomoon.woff?y4tomv') format('woff'),
  url('../fonts/icomoon.svg?y4tomv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bell:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-writing:before {
  content: "\e902";
}
.icon-house:before {
  content: "\e903";
}
.icon-arrow-up:before {
  content: "\e904";
}
.icon-calendar-alt:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-link:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e909";
}
.icon-arrow-left:before {
  content: "\e90a";
}
.icon-smile:before {
  content: "\e90b";
}
.icon-sad:before {
  content: "\e90c";
}
.icon-arrow-down:before {
  content: "\e90d";
}
.icon-arrow-right:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e90f";
}
.icon-attach-file:before {
  content: "\e910";
}
.icon-info:before {
  content: "\e911";
}
.icon-send:before {
  content: "\e912";
}
.icon-instagram:before {
  content: "\e913";
}
.icon-time:before {
  content: "\e914";
}
.icon-idea:before {
  content: "\e915";
}
.icon-information:before {
  content: "\e916";
}
.icon-life-saver:before {
  content: "\e917";
}
.icon-logout:before {
  content: "\e918";
}
.icon-message:before {
  content: "\e919";
}
.icon-test:before {
  content: "\e91a";
}
.icon-search:before {
  content: "\e91b";
}
.icon-storyboard:before {
  content: "\e91c";
}
.icon-surface:before {
  content: "\e91d";
}
.icon-not-done:before {
  content: "\e91e";
}
