@mixin form-fields {
  input[type=password], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=tel], input[type=color], input[type=number], input[type=search], input[type=text], select, textarea {
    @content;
  }
}

@mixin placeholder {
  &:placeholder {
    @content;
  }
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

@mixin text-decoration-none {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@mixin text-decoration-underline {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

@mixin fake-text-decoration-underline($color:#000, $width:1px) {
  text-decoration: none;
  background-image: linear-gradient(to left, $color 50%, $color 50%);
  background-repeat: repeat-x;
  background-size: 1px $width;
  background-position: 0 1.05em;
  &:hover {
    background: none;
  }
}

@mixin fake-text-decoration-none($color:#000, $width:1px) {
  text-decoration: none;
  &:hover {
    background-image: linear-gradient(to left, $color 50%, $color 50%);
    background-repeat: repeat-x;
    background-size: 1px $width;
    background-position: 0 1.05em;
  }
}

@mixin appearance-off {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

//my-var
$def-fonts: 'Neucha';

//color
$white: #ffffff;
$black: #000000;
$orange: #F28E1F;
$porcelain: #ecf0f1;
$bg-body: #2F3535;
$blue: #0d62b7; //#34495e

//transition
$transition: all .2s linear